<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     {% load static %}
    <!-- Bootstrap CSS -->

    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">

    <!-- Customized CSS -->
    <!-- Bootstrap Javascript -->
    <script src="{% static '/js/jquery-1.9.1.min.js' %}"></script>
    <!-- <script src="{% static '/js/moment.min.js' %}"></script> -->
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/bootstrap-datetimepicker.min.js' %}"></script>

    <title>{% block title %}Chop Chop {% endblock %}</title>
</head>
<body>
<!--- Navigation Bar--->
<nav class="navbar navbar-default" role="navigation">
    <a class="navbar-brand" href="/home">Chop Chop</a>
    <div class="navbar-collapse collapse">

    </div>
</nav>
<!---others box --->

{% block content %}

{% endblock %}

</body>
</html>